/* CSS for Episode 32 */
selector:pseudo-class {
    property: value;
}
/* unvisited link */
a:link {
    color: #FF0000;
  }
  
  /* visited link */
  a:visited {
    color: #00FF00;
  }
  
  /* mouse over link */
  a:hover {
    color: #FF00FF;
  }
  
  /* selected link */
  a:active {
    color: #0000FF;
  }
  a.highlight:hover {
    color: #ff0000;
  }
  div:hover {
    background-color: rgb(0, 255, 255);
  }
  p {
    display: none;
    padding: 20px;
  }
  
  div:hover p {
    display: block;
  }
  article:hover p {
    display: block;
  }






  body {
    background-image: url(https://img.freepik.com/photos-premium/ville-fond-ciel-ville-arriere-plan_853645-9422.jpg);
    background-color: rgb(237, 234, 234);
    padding: 20px;
  
}
header {
    background-image: url(https://img.freepik.com/photos-premium/belle-nature-realiste-hd-8k-fond-ecran-stock-photographic-image_915071-14116.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}
section {
    border: solid;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(198, 225, 216);
    opacity: 0.8;
}
article {
    padding: 10px;
    border: solid white;
    border-radius: 25px;
}
div {
    background-color: rgb(183, 240, 240);
    border: solid rgba(68, 112, 179, 0.685);
    border-radius: 25px;
    padding-inline: 20px;
    opacity: 0.7;
}
